{{#each beers as |beer|}}
  {{log beer}}
  <section data-id="{{beer._id}}">
    <h5>Name: {{beer.name}}</h5>
    <h6>Type: {{beer.type}}</h6>
    <h6>Brewery: {{beer.brewery}}</h6>
    <h6>Review: {{beer.reviews.title}}</h6>
    <button class="delete-beer btn btn-primary" data-id="{{beer._id}}">Delete Beer</button>
    <button class="show-update-beer btn btn-primary">Update a Beer</button>
    <button class="show-create-review btn btn-primary">Create a Review</button>
    <section class="update-beer hidden">
      <form id="update-beer-form" data-id="{{beer._id}}">
        <h6>Update Beer:</h6>
        <input name="beer[name]" type="text" required placeholder="Beer Name">
        <input name="beer[type]" type="text" required placeholder="Beer Type">
        <input name="beer[brewery]" type="text" required placeholder="Brewery Name">
        <button type="submit" class="btn btn-primary">Update Beer</button>
      </form>
    </section>
  </section>
  <section class="create-review hidden">
    <form id="create-review-form" data-id="{{beer._id}}">
      <h6>Create Beer Review:</h6>
      <input name="review[title]" type="text" required placeholder="Title">
      <input name="review[content]" type="text" required placeholder="Review">
      <input name="review[rating]" type="number" required placeholder="Rating">
      <button type="submit" class="btn btn-primary">Create Review Beer</button>
    </form>
  </section>
  <!-- <button class="show-beer-reviews btn btn-primary" data-id="{{reviews._id}}">Show Beer Reviews</button>
  <br>  <br>  <br>  <br>
  <div id="show-review-content" class="show-review-content hidden"></div> -->

{{/each}}
