{{#each beers as |beer|}}
  {{log beer}}
  <section data-id="{{beer._id}}">
    <h5>Name: {{beer.name}}</h5>
    <h6>Type: {{beer.type}}</h6>
    <h6>Brewery: {{beer.brewery}}</h6>
    <button class="delete-beer" data-id="{{beer._id}}">Delete Beer</button>
    <section class="update-beer">
      <form id="update-beer-form" data-id="{{beer._id}}">
        <h6>Update Beer:</h6>
        <input name="beer[name]" type="text" required placeholder="Beer Name">
        <input name="beer[type]" type="text" required placeholder="Beer Type">
        <input name="beer[brewery]" type="text" required placeholder="Brewery Name">
        <button type="submit" class="btn btn-primary">Update Beer</button>
      </form>
    </section>
  </section>
  <br>
{{/each}}
